<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Parking03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharsetFilter</display-name>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>pers.arrayli.filter.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ModUserInfoServlet</display-name>
    <servlet-name>ModUserInfoServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.ModUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModUserInfoServlet</servlet-name>
    <url-pattern>/ModUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCheServlet</display-name>
    <servlet-name>AddCheServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.AddCheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCheServlet</servlet-name>
    <url-pattern>/AddCheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModCheServlet</display-name>
    <servlet-name>ModCheServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.ModCheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModCheServlet</servlet-name>
    <url-pattern>/ModCheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCheServlet</display-name>
    <servlet-name>DelCheServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.DelCheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCheServlet</servlet-name>
    <url-pattern>/DelCheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveServlet</display-name>
    <servlet-name>ReserveServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.ReserveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveServlet</servlet-name>
    <url-pattern>/ReserveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModAdminServlet</display-name>
    <servlet-name>ModAdminServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.ModAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModAdminServlet</servlet-name>
    <url-pattern>/ModAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelAdminServlet</display-name>
    <servlet-name>DelAdminServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.DelAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAdminServlet</servlet-name>
    <url-pattern>/DelAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserInfoServlet</display-name>
    <servlet-name>AddUserInfoServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.AddUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserInfoServlet</servlet-name>
    <url-pattern>/AddUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechargeServlet</display-name>
    <servlet-name>RechargeServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.RechargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechargeServlet</servlet-name>
    <url-pattern>/RechargeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserInfoServlet</display-name>
    <servlet-name>DelUserInfoServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.DelUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserInfoServlet</servlet-name>
    <url-pattern>/DelUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModCheweiServlet</display-name>
    <servlet-name>ModCheweiServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.ModCheweiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModCheweiServlet</servlet-name>
    <url-pattern>/ModCheweiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCheweiServlet</display-name>
    <servlet-name>DelCheweiServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.DelCheweiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCheweiServlet</servlet-name>
    <url-pattern>/DelCheweiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCheweiServlet</display-name>
    <servlet-name>AddCheweiServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.AddCheweiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCheweiServlet</servlet-name>
    <url-pattern>/AddCheweiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModCheFeiPriceServlet</display-name>
    <servlet-name>ModCheFeiPriceServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.ModCheFeiPriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModCheFeiPriceServlet</servlet-name>
    <url-pattern>/ModCheFeiPriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCheFeiServlet</display-name>
    <servlet-name>AddCheFeiServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.AddCheFeiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCheFeiServlet</servlet-name>
    <url-pattern>/AddCheFeiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageListServlet</display-name>
    <servlet-name>PageListServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.PageListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageListServlet</servlet-name>
    <url-pattern>/PageListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageListServlet02</display-name>
    <servlet-name>PageListServlet02</servlet-name>
    <servlet-class>pers.arrayli.servlet.PageListServlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageListServlet02</servlet-name>
    <url-pattern>/PageListServlet02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadExcelServlet</display-name>
    <servlet-name>UploadExcelServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.UploadExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadExcelServlet</servlet-name>
    <url-pattern>/UploadExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImportExcelServlet</display-name>
    <servlet-name>ImportExcelServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.ImportExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportExcelServlet</servlet-name>
    <url-pattern>/ImportExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EchartsServlet</display-name>
    <servlet-name>EchartsServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.EchartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EchartsServlet</servlet-name>
    <url-pattern>/EchartsServlet</url-pattern>
  </servlet-mapping>
</web-app>