<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Parking02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <display-name>CharsetFilter</display-name>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>pers.arrayli.filter.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description></description>
    <display-name>ModUserInfoServlet</display-name>
    <servlet-name>ModUserInfoServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.ModUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModUserInfoServlet</servlet-name>
    <url-pattern>/ModUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCheServlet</display-name>
    <servlet-name>AddCheServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.AddCheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCheServlet</servlet-name>
    <url-pattern>/AddCheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModCheServlet</display-name>
    <servlet-name>ModCheServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.ModCheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModCheServlet</servlet-name>
    <url-pattern>/ModCheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCheServlet</display-name>
    <servlet-name>DelCheServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.DelCheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCheServlet</servlet-name>
    <url-pattern>/DelCheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveServlet</display-name>
    <servlet-name>ReserveServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.ReserveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveServlet</servlet-name>
    <url-pattern>/ReserveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>pers.arrayli.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>